/*����淶*/
ol,ul{
    list-style: none;
}
.font-title{
    font-size: 16px;
}
.font-content{
    font-size: 14px;
}
.font-12{
    font-size: 12px;
}
.font-26{
    font-size: 26px;
}
.font-24{
    font-size: 24px;
}
/*����ɫ�淶*/
.bgc-fff{
    background: #ffffff;
}
/*��ť�淶*/
.default-btn{
    background: #0084ff!important;
    color: #ffffff;
    width: 110px;
    height: 40px;
    border-radius: 5px;
}
.default-btn:hover{
    background: #0065c4;
    color: #ffffff;
}
.red-btn{
    background: #f23622;
    color: #ffffff;
}
.red-btn:hover{
    background: #f23622;
    color: #ffffff;
}
/*���ذ�ť*/
.chooseBtn {
    display: none;
}

.choose-label {
    box-shadow: #ccc 0px 0px 0px 1px;
    width: 30px;
    height: 15px;
    display: inline-block;
    border-radius: 20px;
    position: relative;
    background-color: #bdbdbd;
    overflow: hidden;
    margin: 5px 0 0 15px;
}

.choose-label:before {
    content: '';
    position: absolute;
    left: 0;
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 20px;
    background-color: #fff;
    z-index: 20;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.chooseBtn:checked + label.choose-label:before {
    left: 15px;
}

.chooseBtn:checked + label.choose-label {
    background-color: #51ccee;
}
/*�и�*/
.lh-40{
    height: 40px;
    line-height: 40px;
}
.color-999{
    color: #999;
}
.color-blue{
    color: #0084ff;
}
.color-fff{
    color: #ffffff;
}
.border-bottom{
    border-bottom: 1px solid #e7eaec;
}
.wrapper-content {
    margin: 0 0 0 200px;
}

/*  ���� */
.scrollSwitchBox {
    width:30px;
    height:15px;
    border-radius:100px;
    position:relative;
}
.scrollSwitch {
    width:15px;
    height:15px;
    border-radius:50px;
    position:absolute;
}
.open1 {
    background:#51ccee;
}
.open2 {
    background:#fff;
}
.open2 {
    right:0px;
    top:0px;
}
.close1 {
    background:#ccc;
    border:1px solid #ddd;
}
.close2 {
    left:0px;
    top: -1px;
    background:#fff;
}

/*  ����  end*/
.commonbtn{
    padding: 3px 8px;
    background: #0084ff;
    color: #ffffff;
}
.commonbtn:hover{
    padding: 3px 8px;
    background: #0084ff;
    color: #ffffff;
}
.m-t-n-4{
    margin-top: -4px;
}
.m-t-12{
    margin-top: 12px;
}
.h-15{
    height: 15px;
}
.lh-40{
    height: 40px;
    line-height: 40px;
}
.p-relative{
    position: relative;
}
.lh-30{
    line-height: 30px;
}
.lh-50{
    height: 50px;
    line-height: 50px;
}
.btn-success{
    background: #0084ff;
}
.table-striped th,.table-striped td{
    text-align: center;
    /*min-width: 85px;*/
}
.font-weight{
    font-weight:bold;
}
.color-red{
    color: red;
}
.color-gold{
    color: goldenrod;
}
table.ScrollViewer {
    background: #eee;
}
table.ScrollViewer thead {
    width: calc( 100% - 1.2em )!important;
}
table.ScrollViewer thead, table.ScrollViewer tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;

}

table.ScrollViewer tbody {
    display: block;
    background: #fff;
    overflow-y: scroll;
}
.ScrollViewer tbody {
    min-height: 300px;
}
.table-hover{
    /*border: 1px solid #0084ff;*/
}
.title-header {
    height: 50px!important;
    line-height: 50px!important;
    border-bottom: 1px solid #eee;
}
.tuwenPic{
     height: 100px;
     margin-top: 15px;
}
.btn-default:hover{
    color: #666 !important;
}
.blueButton{
    vertical-align: middle!important;
    padding: 4px 10px!important;
    background: #0084ff!important;
    position: relative!important;
    overflow: hidden!important;
    color: #FFFFFF!important;
    border-radius: 3px!important;
    font-size: 14px!important;
}
.blueButton:hover{
    background: #0065c4!important;
}
.blueButton:focus{
    background: #0065c4!important;
}
.redButton{
    vertical-align: middle!important;
    padding: 4px 10px!important;
    background: #f23622;
    position: relative!important;
    overflow: hidden!important;
    color: #FFFFFF!important;
    border-radius: 3px!important;
    font-size: 14px!important;
}
.redButton:hover{
    background: #ff0000;
}
.redButton:focus{
    background: #ff0000;
}
.grayButton{
    vertical-align: middle!important;
    padding: 4px 10px!important;
    background: #ccc!important;
    position: relative!important;
    overflow: hidden!important;
    color: #666!important;
    border-radius: 3px!important;
    font-size: 14px!important;
}
.grayButton:hover{
    background: #9A9DA2;
    color: #fff!important;
}
.grayButton:focus{
    background: #9A9DA2;
    color: #fff!important;
}
input[type=text]{
    height: 36px!important;
    padding: 0 5px!important;
}
input[type=password]{
    height: 36px!important;
    padding: 0 5px!important;
}
::-webkit-input-placeholder {
    color:#ccc;
}
:-moz-placeholder {
    color:#ccc;
}
::-moz-placeholder {
    color:#ccc;
}
:-ms-input-placeholder {
    color:#ccc;
}
.ansbtn:hover{
    background: #0065c4!important;
}
.delebtn:hover{
    background: #0065c4!important;
}
/*sweetAlert*/
.sweet-alert{
    width: 420px !important;
}
.sweet-alert h2{
    font-size: 24px !important;font-weight: normal;
}
.sweet-alert button{
    font-size: 14px !important;
}
.sweet-alert .confirm{
    background: #0084ff !important;
}
.sweet-alert .confirm:hover{
    background: #0065c4!important;
}
.sweet-alert .cancel{
    background: #ccc !important;
    color: #333;
}
.sweet-alert .cancel:hover{
    background: #ccc !important;
    color: #333;
}
.dropdown-toggle:hover{
    color: #333 !important;
}
.thumbnail{
    padding: 0!important;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #fff!important;
}
.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #f3f3f3!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
    vertical-align: middle!important;
}
.table tr{
    min-height: 56px;
}
.blue-btn:focus{
    color: #fff;
}
/*��ѡ��*/
.icheckbox_square-green {
    background-position: -120px 0;
}
.icheckbox_square-green.hover {
    background-position: -144px 0;
}
.icheckbox_square-green.checked {
    background-position: -168px 0;
}

#Pagination a{
			 	width:30px;
			 	height:30px;
			 	line-height:30px;
			 	text-align:center;
			 	display:inline-block;
			 	border:1px solid #d2d2d2;
			 	font-size:12px;
			 	border-right:0;
			}
			#Pagination a:last-child{
			 	width:30px;
			 	height:30px;
			 	line-height:30px;
			 	text-align:center;
			 	display:inline-block;
			 	border:1px solid #d2d2d2;
			 	font-size:12px;
			}
			#Pagination .active{
				width:30px;
			 	height:30px;
			 	line-height:30px;
			 	text-align:center;
			 	display:inline-block;
			 	border:1px solid #d2d2d2;
				box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset;
				font-size:12px;
			}