.addAd{
    width: 200px;
    height: 335px;
    line-height: 335px;
    text-align: center;
    border: 1px solid rgba(204, 204, 204, 1);
    background: #EBEBEB;
    cursor: pointer;
    float: left;
    margin-right: 15px;
    margin-top: 10px;
}
.adBox{
    width: 200px;
    height: 335px;
    float: left;
    border: 1px solid rgba(204, 204, 204, 1);
    margin-top: 10px;
}
.adBoxImg{
    width: 188px;
    height: 275px;
    float: left;
    margin: 5px;
    background: #ccc;
}
.adBoxImg img{
    width:100%;
    height: 100%;
}
.adBoxLeft{
    width: 140px;
    height: 25px;
    line-height: 25px;
    float: left;
    margin-left: 5px;
}
.adBoxLeft p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
}
.adBoxRight{
    width: 45px;
    height: 25px;
    line-height: 25px;
    float: right;
    margin-right: 5px;
}
.adBoxTime{
    padding: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.scrollSwitchBoxad{
    width: 30px;
    height: 15px;
    border-radius: 100px;
    position: relative;
    margin-left: 5px;
    margin-top: 5px;
}
@media (min-width: 1367px) and (max-width: 1920px) {
    .adBox{
        margin-right: 8px;
    }
    .adContent{
        margin-left: 10px;
    }
}
@media (max-width: 1366px){
    .adBox{
        margin-right: 15px;
    }
    .adContent{
        margin-left: 25px;
    }
}
#addAdModal .modal-dialog{
    width: 905px;
}
.addModalone{
    height: 30px;
    line-height: 30px;
    float: left;
    margin-right: 40px;
}
.addAdName{
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    color: #666666;
    width: 80px;
    margin-right: 10px;
}
.addModalone input{
    width: 235px;
    height: 30px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(204, 204, 204, 1);
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 12px;
    color: #999999;
    text-align: left;
    padding: 0 5px;

}
.addModaltwo{
    height: 30px;
    line-height: 30px;
    float: left;
    margin-right: 40px;
}
.addModaltwo select{
    width: 130px;
    height: 30px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
}
.addModalthree{
    height: 35px;
    line-height: 35px;
    float: left;
    margin-right: 40px;
}
.addModalthree input{
    width: 393px;
    height: 35px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(204, 204, 204, 1);
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 12px;
    color: #999999;
    text-align: left;
    padding: 0 5px;

}
.addModalthree button{
    margin-top: -4px;
}
.scrollSwitchBoxmod{
    width: 30px;
    height: 15px;
    border-radius: 100px;
    position: relative;
    margin-left: 5px;
    margin-top: 10px;
}
.mobileBox{
    width: 400px;
    height: 450px;
}
.mobileBoxLeft{
    width: 100px;
    height: 450px;
    text-align: center;
    float: left;
}
.mobileBoxright{
    width: 218px;
    height: 442px;
    text-align: center;
    float: left;
    background: url("../../img/phone1.png") no-repeat;
    background-size: 100% 100%;
    position: relative;
}
.mobilerightCon{
    width: 190px;
    height: 332px;
    background: #ccc;
    position: absolute;
    top: 54px;
    left: 14px;
}
.addIcon{
    font-size: 60px;
    margin-top: 80px;
}
.scrollSwitchBoxbb{
    width: 30px;
    height: 15px;
    border-radius: 100px;
    position: relative;
    margin-left: 30px;
}