<div id="rightWrapper">
	<div class="row title-header darkgray-bg">
		<div class="col-md-12">
			<div class="title-name">
				<a class="font-12" ng-bind="'回看ID'+info.id"></a>
			</div>
			<div class="title-name">
				<a class="font-12" ng-bind="'回看名称：'+info.title"></a>
			</div>
			<button class="btn btn-default font-12 pull-right m-t-sm m-r" ng-click="returnPrevious()">返回回看数据列表</button>
			<div class="title-name pull-right">
				<a class="font-12" ng-bind="'回看时长：'+info.duration|duration:'0'"></a>
			</div>
		</div>
	</div>
	<div class="row p-sm" style="background: #B3B3B3;">
		<div class="col-md-12">
			<div class="col-md-2">
				<p class="liveTit">回看时长</p>
				<p class="liveNum" ng-bind="info.duration|duration:'0'">03:06:05</p>
			</div>
			<div class="col-md-2">
				<p class="liveTit">总观看人数</p>
				<p class="liveNum" ng-bind="info.statisticResult.userTotalNum|blank:'0'"></p>
			</div>
			<div class="col-md-2">
				<p class="liveTit">总点赞数</p>
				<p class="liveNum" ng-bind="info.statisticResult.likeTotalNum|blank:'0'"></p>
			</div>
			<div class="col-md-2">
				<p class="liveTit">总评论数</p>
				<p class="liveNum" ng-bind="info.statisticResult.commentTotalNum|blank:'0'"></p>
			</div>
			<div class="col-md-2">
				<p class="liveTit">转发分享数</p>
				<p class="liveNum" ng-bind="info.statisticResult.shareTotalNum|blank:'0'"></p>
			</div>
		</div>
	</div>
	<div class="row title-header gray-bg">
		<div class="col-md-12">
			<div class="title-name">
				<a class="font-12">回看观看次数及人数变化统计</a>
			</div>
			<div class="selectInputBox">
				<div class="input-daterange input-group pull-right  m-t-sm m-r" daterange>
					<input type="text" class="input-sm form-control" name="start" placeholder="开始时间"
						ng-model="viewNumForLineQueryCondition.startTime" ng-change="getViewNumDataForLine()"
					/>
					<span class="input-group-addon">to</span>
					<input type="text" class="input-sm form-control" name="end" placeholder="结束时间"
						ng-model="viewNumForLineQueryCondition.endTime" ng-change="getViewNumDataForLine()"
					/>
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="height: 380px">
		<div class="col-md-12 m-t m-b" style="height: 90%" multi-line-chart data="viewNumDataForLine"></div>
	</div>
	<div class="row title-header gray-bg">
		<div class="col-md-12">
			<div class="title-name">
				<a class="font-12">用户观看回看端口来源</a>
			</div>
			<div class="selectInputBox">
				<div class="input-daterange input-group pull-right  m-t-sm m-r" daterange>
					<input type="text" class="input-sm form-control" name="start" placeholder="开始时间"
						ng-model="viewSourceQueryCondition.startTime" ng-change="getViewSourceData()"
					/>
					<span class="input-group-addon">to</span>
					<input type="text" class="input-sm form-control" name="end" placeholder="结束时间"
						ng-model="viewSourceQueryCondition.endTime" ng-change="getViewSourceData()"
					/>
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="height: 380px">
		<div class="col-md-12 m-t m-b" style="height: 90%" donut-chart data="viewSourceData"></div>
	</div>
	<!--  div class="row title-header gray-bg">
		<div class="col-md-12">
			<div class="title-name">
				<a class="font-12">观看用户组成比例</a>
			</div>
			<div class="selectInputBox">
				<div class="input-daterange input-group pull-right  m-t-sm m-r" daterange>
					<input type="text" class="input-sm form-control" name="start" placeholder="开始时间"
						ng-model="registerSourceQueryCondition.startTime" ng-change="getRegisterSourceData()"
					/>
					<span class="input-group-addon">to</span>
					<input type="text" class="input-sm form-control" name="end" placeholder="结束时间"
						ng-model="registerSourceQueryCondition.endTime" ng-change="getRegisterSourceData()"
					/>
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="height: 380px">
		<div class="col-md-12 m-t m-b" style="height: 90%" donut-chart data="registerSourceData"></div>
	</div -->
	<div class="row title-header gray-bg">
		<div class="col-md-12">
			<div class="title-name">
				<a class="font-12">用户观看回看ip地域分布图</a>
			</div>
			<div class="selectInputBox">
				<div class="input-daterange input-group pull-right  m-t-sm m-r" daterange>
					<input type="text" class="input-sm form-control" name="start" placeholder="开始时间"
						ng-model="viewLocationQueryCondition.startTime" ng-change="getViewLocationData()"
					/>
					<span class="input-group-addon">to</span>
					<input type="text" class="input-sm form-control" name="end" placeholder="结束时间"
						ng-model="viewLocationQueryCondition.endTime" ng-change="getViewLocationData()"
					/>
				</div>
			</div>
			<button class="btn btn-default font-12 pull-right m-t-sm m-r" ng-click="excelExportViewLocationData()">导出数据</button>
		</div>
	</div>
	<div class="row" style="height: 420px">
		<div class="col-md-6 m-t m-b" style="height: 90%" china-map-chart data="viewLocationData" field="viewLocationField"></div>
		<div class="col-md-6">
			<div class="col-md-12 m-t">
				<table class="table table-bordered table-responsive">
					<thead>
						<tr>
							<th style="background: #F9FAFC !important;">排名</th>
							<th style="background: #F9FAFC !important;">省份</th>
							<th style="background: #F9FAFC !important;">观众人数</th>
							<th style="background: #F9FAFC !important;">排名</th>
							<th style="background: #F9FAFC !important;">省份</th>
							<th style="background: #F9FAFC !important;">观众人数</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="i in [1,2,3,4,5,6,7,8,9,10] track by $index">
							<td ng-bind="i"></td>
							<td ng-bind="viewLocationData[i-1].provinceName"></td>
							<td ng-bind="viewLocationData[i-1].totalNum"></td>
							<td ng-bind="10+i"></td>
							<td ng-bind="viewLocationData[9+i].provinceName"></td>
							<td ng-bind="viewLocationData[9+i].totalNum"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>