*{margin: 0;padding: 0;}
body{
    background: #eeeeee;
}
/*左侧手机部分*/
.moblieHeader{
    width: 100%;
    height: 2.6rem;
    overflow: hidden;
    text-align: center;
    position: relative;
}
.moblieHeader img{
    width: 100%;
    position: absolute;
    margin: auto;
    top: -9999px;
    right: -9999px;
    bottom: -9999px;
    left: -9999px;
    object-fit: cover;
}
.moblieTit{
    position: relative;
    font-size: 0.28rem;
    clear: both;
    background: #fff;
    padding: 0 0 0.1rem 0;
}
.moblieTit img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: absolute;
    left: 10px;
    top: -25px;
    box-shadow: 0 0 15px #333;
}
.titName{
    float: left;
    display: block;
    width: 2.8rem;
    padding: 2px;
    margin-left: 65px;
    margin-top: 5px;
    font-weight: bold;
    font-size: 0.32rem;
    margin-bottom: 0.2rem;
}
.fans{
    float: right;
    display: block;
    padding: 2px;
    margin-right: 0.4rem;
    margin-top: 0.2rem;
    font-size: 0.26rem;
}
.font-bold{
    font-weight: bold;
}
.guanzhu{
    float: right;
    display: block;
    padding: 2px;
    border: 1px solid red;
    color: red!important;
    margin-right: 0.2rem;
    margin-top: 3px;
}
.titText{
    margin-top: 0.2rem;
	max-height:0.8rem;
    line-height:0.4rem;
    padding-left: 66px;
    padding-right: 5px;
    color: #999;
    clear: both;
    font-size: 0.28rem;
	overflow:hidden; 
	text-overflow:ellipsis;
	display:-webkit-box; 
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2; 
}
.moblieTitle{
    margin-top: 10px;
    font-size: 0.28rem;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    color: #333;
    overflow: hidden;
}
.moblieTitle .font-bold{
    font-size: 0.33rem;
    font-weight: normal;
    color: #999999;
}
.bigPic{
    width: 7.1rem;
    padding-left: 0px;
    padding-right: 0px;
    margin: 5px 0.2rem;
    position: relative;
    height: 3rem;
    background: #ccc;
    overflow: hidden;
}
.bigPic img{
    width: 100%;
    position: absolute;
    margin: auto;
    top: -9999px;
    right: -9999px;
    bottom: -9999px;
    left: -9999px;
    object-fit: cover;
}
.bigPicMask{
    position: absolute;
    left: 0px;
    right: 0;
    bottom: -10px;
    height: 0.6rem;
    line-height: 0.6rem;
    overflow: hidden;
    background: rgba(0,0,0,0.6);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.28rem;
    padding: 0 0.1rem;
    color: #fff;
}
.yugao{
    position: absolute;
    left:0;
    top: 0;
    display: block;
    padding: 5px;
    background: #ed2222;
    font-size: 0.24rem;
	color:#fff;
}
.yugao1{
    position: absolute;
    left:0;
    top: 0;
    display: block;
    padding: 5px;
    background: #408ced;
    font-size: 0.24rem;
	color:#fff;
}
.smallPic{
    width: 3.45rem;
    position: relative;
    margin-left: 0.2rem;
}
.smallPicBox{
    height: 2rem;
    background: #ccc;
    overflow: hidden;
    position: relative;
}
.smallPicBox img{
    width: 100%;
    position: absolute;
    margin: auto;
    top: -9999px;
    right: -9999px;
    bottom: -9999px;
    left: -9999px;
    object-fit: cover;
}
.smallPicTit{
    line-height: 0.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.28rem;
    color: #666;
    margin-bottom: 0;
    padding: 0 0.1rem;
}
.smallPicText{
    height: 0.4rem;
    line-height: 0.4rem;
    padding: 0 0.1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.24rem;
    color: #999;
}
.followBox {
    width: 1.48rem;
    height: 0.58rem;
    line-height: 0.58rem;
    text-align: center;
    margin-top: 0.1rem;
    margin-right: 0.1rem;
    border: 1px solid #E8B333;
    float: right;
    border-radius: 50px;
    color: #fff;
    background: #E8B333;
    font-size: 0.25rem;
}
.bgc-fff{
    background: #fff;
    overflow: hidden;
    margin-top: 0.2rem;
    padding: 0.2rem 0;
}
.font-12{
    color: #ccc;
    font-size: 0.28rem!important;
    margin-right: 0.2rem;
}
.lineBlue{
    width: 2px;
    height: 0.4rem;
    background: #0084ff;
    float: left;
    margin: 0 0.2rem;
}
.slimContent{
    width: 7.5rem;
    margin: 0 auto;
}
