<div id="rightWrapper">
	<div class="row btn-box gray-bg">
		<div class="col-md-12">
			<div class="selectedGroup m-t-sm m-l-sm pull-left">
				<div class="pull-left lh-40 font-content">数据筛选：</div>
				<div class="input-daterange input-group pull-left m-t-xs m-r-sm" daterange>
					<input type="text" class="input-sm form-control" name="start" placeholder="开始时间"
						ng-model="queryCondition.startTime"
					/>
					<span class="input-group-addon">to</span>
					<input type="text" class="input-sm form-control" name="end" placeholder="结束时间" ng-model="queryCondition.endTime" />
				</div>
			</div>
			<div class="selectedGroup m-t-sm m-l-sm pull-left">
				<div class="pull-left lh-40 font-content">用户ID：</div>
				<div class="dropdown pull-left m-t-xs m-r-sm ">
					<input class="userInput" type="text" ng-model="queryCondition.userId" />
				</div>
			</div>
			<div class="selectedGroup m-t-sm m-l-sm pull-left">
				<div class="pull-left lh-40 font-content">用户名：</div>
				<div class="dropdown pull-left m-t-xs m-r-sm ">
					<input class="userInput" type="text" ng-model="queryCondition.username" />
				</div>
			</div>
			<button class="btn btn-white pull-right font-12 m-t m-r" ng-click="searchList(1,false)">查询</button>
			<div class="dropdown pull-right m-t m-r font-12">
				显示条数:
				<button type="button" class="btn dropdown-toggle bordered bgc-fff font-12" data-toggle="dropdown"
					aria-expanded="false"
				>
					<span ng-bind="page.pageSize"></span>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li ng-click="changePageSize(20)">
						<a>20</a>
					</li>
					<li ng-click="changePageSize(50)">
						<a>50</a>
					</li>
					<li ng-click="changePageSize(100)">
						<a>100</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row m-t-xs">
		<div class="col-md-12 p-w-lg ">
			<table class="table newtable table-striped table-hover ScrollViewer table-responsive">
				<thead class="gray-bg">
					<tr>
						<!-- <th style="width: 50px;"></th> -->
						<th style="width: 50px;">场次ID</th>
						<th>直播名称</th>
						<th style="width: 180px;">用户ID</th>
						<th style="width: 80px;">用户名</th>
						<th style="width: 80px;">观看IP</th>
						<th style="width: 80px;">IP所属地域</th>
						<th style="width: 80px;">来源终端</th>
						<th style="width: 150px;">进入直播时间</th>
					</tr>
				</thead>
				<tbody auto-height offset="255">
					<tr ng-repeat="bean in page.list" ng-click="bean.isChecked=!bean.isChecked">
						<!-- <td style="width: 50px;">
							<input type="checkbox" ng-model="bean.isChecked" ng-click="bean.isChecked=!bean.isChecked" ng-checked="isCheckAll" />
						</td> -->
						<td style="width: 50px;" ng-bind="bean.liveEventId"></td>
						<td ng-bind="bean.liveTitle|blank:'试用直播间'"></td>
						<td style="width: 180px;word-wrap: break-word;" ng-bind="bean.userId|blank:''"></td>
						<td style="width: 80px;" ng-bind="bean.nickName|blank:'未知用户'"></td>
						<td style="width: 80px;" ng-bind="bean.ip|blank:'0.0.0.0'"></td>
						<td style="width: 80px;" ng-bind="bean.region|blank:'内部IP'"></td>
						<td style="width: 80px;" ng-bind="bean.requestTypeStr|blank:'其他'"></td>
						<td style="width: 150px;" ng-bind="bean.createTime|date:'yyyy-MM-dd HH:mm:ss'"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-12 pageBox m-b">
			<!-- <div class="pull-left m-l-lg m-t-xs">
				<input class="m-r-sm" type="checkbox" style="vertical-align: sub" ng-model="isCheckAll" ng-click="checkAll(isCheckAll)" />
				全选
			</div> -->
			<button class="btn btn-default font-12 pull-left m-l bordered" ng-click="excelExport()">导出数据列表</button>
			<div class="pull-right btn-group m-r">
				<div class="pull-left m-t-xs m-r">
					第
					<span class="color-gold" ng-bind="page.pageNo"></span>
					页/
					<span class="color-gold" ng-bind="page.totalCount">100</span>
					条数据
				</div>
				<button type="button" class="btn btn-white" ng-click="searchList(page.prePage,true)">
					<i class="fa fa-chevron-left"></i>
				</button>
				<button ng-repeat="showPage in page.showPages track by $index" class="btn btn-white"
					ng-class="{'active':showPage==page.pageNo}" ng-click="searchList(showPage,true)"
				>
					<span ng-if="showPage<=0" ng-bind="'...'"></span>
					<span ng-if="showPage>0&&showPage==page.pageNo" ng-bind="showPage" id="currentPageNo"></span>
					<span ng-if="showPage>0&&showPage!=page.pageNo" ng-bind="showPage"></span>
				</button>
				<button type="button" class="btn btn-white" ng-click="searchList(page.nextPage,true)">
					<i class="fa fa-chevron-right"></i>
				</button>
				<div class="pull-left m-t-xs m-l m-r">
					跳至
					<input class="m-l-xs m-r-xs" style="width: 33px; height: 23px; border: 1px solid #ddd;" type="text"
						ng-keyup="($event.which === 13)?changePageNo($event.target.value):0"
					/>
					页
				</div>
			</div>
		</div>
	</div>
</div>