.title-header{
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #eee;
    background: rgba(244, 244, 244, 1);
}
.title-name{
    margin-left: 10px;
    float: left;
    margin-right: 20px;
}
.loc-icon{
    display: block;
    float: left;
    width: 22px;
    height: 22px;
    background: url("../img/location.png") no-repeat;
    background-size:100% 100%;
    margin: 15px 15px 0 5px;
}
.videobox{
    width: 450px;
    height: 253px;
    background: #000;
    margin: 0px auto 20px;
}
.nav-tabs > li > a{
    padding:10px;
}
.suggest{
    width: 385px;
    height: 76px;
    background-color: #D9EAF3;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(204, 204, 204, 1);
    border-radius: 5px;
    line-height: 28px;
    padding: 0 0 0 20px;
    margin: 20px auto;
}
.text-content{
    width: 385px;
    margin: 0px auto 20px;
}
.inputcon{
    width: 260px;
    height: 25px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(204, 204, 204, 1);
    border-radius: 3px;
}
.copybtn{
    width: 41px;
    height: 26px;
    vertical-align:bottom;
    padding: 0;
    font-size: 12px;
}
.videotop{
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.livebtn{
    margin-top: 10px;
    color: #ffffff;

}
#myTab .active a {
    /*color: #ed5d5d;*/
    color: #0084ff;
}
#rightTab .active a {
    /*color: #ed5d5d;*/
    color: #0084ff;
}
.choose-label{
    margin: 12px 20px 0 10px!important;
}
.choose-label {
    box-shadow: #ccc 0px 0px 0px 1px;
    width: 30px!important;
    height: 15px!important;
    display: inline-block;
    border-radius: 20px;
    position: relative;
    background-color: #bdbdbd;
    overflow: hidden;
}

.choose-label:before {
    content: '';
    position: absolute;
    left: 0;
    width: 15px!important;
    height: 15px!important;
    display: inline-block;
    border-radius: 20px;
    background-color: #fff;
    z-index: 20;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.chooseBtn:checked + label.choose-label:before {
    left: 15px!important;
}

.chooseBtn:checked + label.choose-label {
    background-color: #51ccee;
}
.timer{
    width: 40px;
    height: 20px;
    text-align: center;
    margin: 0 5px;
}
.commentbox {
    height: 600px;
    overflow: hidden;
}
.border-bottom-ccc {
    border-bottom: 1px solid #f2f2f2;
}
.redtitle {
    width: 56px;
    height: 20px;
    display: block;
    float: left;
    background: #0084ff;
    color: #ffffff;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 10px;
}
.zhiding {
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    background: #ec5151;
    margin-left: 10px;
    overflow: hidden;
    color: #ffffff;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
}
.img-circle {
    border-radius: 50%!important;
}
.media-body p {
    width: 100%;
    overflow: hidden;
    margin-bottom: 5px;
}
.default-livebtn {
    padding: 2px 5px!important;
    font-size: 12px;
    margin-right: 5px;
    background: rgba(242, 242, 242, 1);
    color: #999;
}
.picUpload{
    width: 40px;
    height: 30px;
    float: left;
    margin-right: 10px;
    border: 1px solid #a9a9a9;
}
.picUpload img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
}
.picUpload2{
    width: 40px;
    height: 30px;
    float: left;
    margin-right: 10px;
    border: 1px solid #a9a9a9;
}
.picUpload2 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
}
.videoUpload{
    width: 40px;
    height: 30px;
    float: left;
    margin-right: 10px;
    border: 1px solid #a9a9a9;
}
.videoUpload img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
}
.videoUpload2{
    width: 40px;
    height: 30px;
    float: left;
    margin-right: 10px;
    border: 1px solid #a9a9a9;
}
.videoUpload2 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
}
.default-livebtn:hover {
     padding: 2px 5px!important;
     font-size: 12px;
     margin-right: 5px;
     background: #0084ff;
     color: #ffffff;
 }
.delete-livebtn{
    padding: 2px 5px!important;
    font-size: 12px;
    margin-right: 5px;
    background: rgba(242, 242, 242, 1);
    color: #999;
}
.delete-livebtn:hover{
    padding: 2px 5px!important;
    font-size: 12px;
    margin-right: 5px;
    background: #f23622;
    color: #ffffff;
}
.delete-btn{
    padding: 2px 5px!important;
    font-size: 12px;
    margin-right: 5px;
    background: #f23622;
    color: #ffffff;
}
.delete-btn:hover{
    padding: 2px 5px!important;
    font-size: 12px;
    margin-right: 5px;
    background: #f23622;
    color: #ffffff;
}

.red-livebtn{
    width: 70px;
    height: 20px;
    padding: 0;
    line-height: 19px;
    font-size: 12px;
    margin-right: 5px;
}
textarea {
    height: 60px;
    padding: 5px;
    outline: none;
    resize: none;
    border: 1px solid #ececec;
 }
.circleimg {
    width: 27px;
    height: 27px;
    border-radius: 100%;
    float: left;
    margin-right: 15px;
}
.addpicimg{
    width: 40px;
    height: 30px;
    /*border: 1px solid #a9a9a9;*/
    float: left;
    text-align: center;
    line-height: 24px;
    margin-right: 15px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
.addvideo{
    width: 40px;
    height: 30px;
    /*border: 1px solid #a9a9a9;*/
    float: left;
    text-align: center;
    line-height: 24px;
    margin-right: 15px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
.addpicimg2{
    width: 40px;
    height: 30px;
    /*border: 1px solid #a9a9a9;*/
    float: left;
    text-align: center;
    line-height: 24px;
    margin-right: 15px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
.addvideo2{
    width: 40px;
    height: 30px;
    /*border: 1px solid #a9a9a9;*/
    float: left;
    text-align: center;
    line-height: 24px;
    margin-right: 15px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
.addcircleimg{
    width: 27px;
    height: 27px;
    float: left;
    text-align: center;
    line-height: 24px;
    margin-right: 15px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
.addpicimg input{
    position: absolute;
    top: 0;
    left: 0;
    width:40px;
    height: 30px;
    opacity: 0;
}
.addvideo input{
    position: absolute;
    top: 0;
    left: 0;
    width:40px;
    height: 30px;
    opacity: 0;
}
.addpicimg2 input{
    position: absolute;
    top: 0;
    left: 0;
    width:40px;
    height: 30px;
    opacity: 0;
}
.addvideo2 input{
    position: absolute;
    top: 0;
    left: 0;
    width:40px;
    height: 30px;
    opacity: 0;
}
.addcircleimg img{
    width: 100%;
    height: 100%;
}
.circleimg img {
    width: 100%;
    height: 100%;
}
.switchbox i{
  cursor: pointer;
}
.erweimaleft{
    width: 91px;
    height: 91px;
}
.erweimabox{
    width: 321px;
    margin: 0 auto;
}
.erweimaleft img{
    width: 100%;
    height: 100%;
}
.erweimaright{
    width: 200px;
}
.default-btnios{
    width: 132px;
    height: 34px;
    background: #0084ff;
    color: #fff;
}
.default-btnwindow{
    width: 150px;
    height: 34px;
    background: #0084ff;
    color: #fff;
}
.default-btngreen{
    width: 132px;
    height: 34px;
    background: #1AFA29;
    color: #fff;
}
.questionbox{
    padding: 10px;
    background: #eee;
    border-radius: 5px;
}
.uploadbtn {
    width: 75px!important;
    height: 25px!important;
    padding: 0;
    line-height: 15px;
    font-size: 12px;
}
.wendang{
    width: 110px;
    background: #ffffff;
    height: 26px;
    padding: 0;
    margin-top: -2px;
}
.banner img{
    max-width: 100%;
    width: 460px;
    height: 360px;
}
/**/
.picobox {
    width:460px;
    height:360px;
    margin:10px auto;
    position:relative;
    overflow:hidden;
}
.picobox #ul {
    position:absolute;
}
.picobox #ul li {
    float:left;
}
.picobox #ul li img {
    max-width: 100%;
    width: 460px;
    height: 360px;
}
.olbox{
    width: 440px;
    height: 78px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}
#ol {
    position: absolute;


}
#ol li {
    width:78px;
    height:65px;
    border:2px solid green;
    float:left;
    margin:5px;

}
#ol li img{
    width: 100%;
    height: 100%;
}
.button {
    position:absolute;
    width: 30px;
    top:105px;
    font-size:50px;
    display:none;
    height: 60px;
}
.button-left{
    background:url("../img/leftarrow.png") no-repeat;
    background-size:100% 100%;
}
.button-right{
    background:url("../img/rightarrow.png") no-repeat;
    background-size:100% 100%;
}

.border-red{
    border: 2px solid #ef7777!important;
}
.numbox{
    position: absolute;
    left: 10px;
    bottom: 120px;
}
.num{
    font-size: 20px;
    color: #ec5151;
}
.totle{
    font-size: 14px;
}
.leftarr{
    width: 15px;
    height: 45px;
    background: url("../img/leftarr.png") no-repeat;
    background-size:100% 100%;
    position: absolute;
    left: 40px;
    bottom: 16px;
    cursor: pointer;
}
.rightarr{
    width: 15px;
    height: 45px;
    background: url("../img/rightarr.png") no-repeat;
    background-size:100% 100%;
    position: absolute;
    right: 40px;
    bottom: 16px;
    cursor: pointer;
}

.left,
.right {
    height: auto;
    width: 100%;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    margin-top: 150px;
}
.right{
    margin-left: -30px;
}
.feed-element {
    padding: 10px!important;
}
.rightTitle{
    position: relative;
}
.jinyan{
    width: 110px;
    position: absolute;
    right: 60px;
    top: 0;
}
.jinyanname{
    position: absolute;
    top: 11px;
    left: 0;

}
.jinyanlabel{
    position: absolute!important;
    top: 0px;
    right: 0px;
}
.shezhi{
    position: absolute;
    top: 10px;
    right: 20px;
    color: #0084ff;
    text-decoration:underline;
}
.shezhi:hover{
    position: absolute;
    top: 10px;
    right: 20px;
    color: #0084ff;
    text-decoration:underline;
}
.ansbox{
    line-height: 20px;
}
.reviewBox{
    background: rgb(239, 248, 252);
}
.ansname{
    color: #0084ff;
}
.pause-btn{
    background: #f23622!important;
    color: #ffffff;
    border-radius: 5px;
}
.stop-btn{
    background: rgba(228, 24, 21, 1)!important;
    color: #ffffff;
    border-radius: 5px;
}
.blue-btn {
    background: #0084ff;
    color: #ffffff;
}

/*创建直播页面样式*/
.squol{
    list-style: square;
    line-height: 30px;
}
.cjzbinput:first-child {
    margin-top: 15px;
}
.cjzbinput {
    height: 38px;
    margin-bottom: 15px;
}
.cjzbinput .firstname {
    width: 80px;
    display: block;
    float: left;
    line-height: 38px;
}
.cjzbinput input {
    width: 457px;
    height: 36px;
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 0 5px;
    margin-right: 12px;
}
.cjzbinput textarea {
    width: 457px;
    height: 98px;
    resize: none;
    border-radius: 5px;
}
.ewmbox{
    width: 91px;
    height: 91px;
}
.ewmbox img{
    width: 100%;
    height: 100%;
}
.blue-btn:hover{
    color: #ffffff;
}
.stop-btn:hover{
    color: #ffffff;
}
.pause-btn:hover{
    color: #ffffff;
}
.subbtn{
    position: relative;
}
.subpic{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    opacity: 0;
}
.zbshare{
    position: relative;
}

.zbshare a:hover{
    color: #333;
}
.zhiboshare{
    display: none;
    width: 360px;
    height: 178px;
    position: absolute;
    left: -135px;
    top: 40px;
    z-index:99999;
    background: #E4E4E4;
}
.zhiboshare .btn{
    float: left;
}
.zbleft{
    width: 220px;
    height: 155px;
    margin-top: 15px;
    border-right: 1px solid rgba(204, 204, 204, 1);
    padding-left: 15px;
}
.zbleft textarea{
    width: 189px;
    height: 75px;
    padding: 0;
    line-height: 15px;
    color: #666;
}
.zbright{
    width: 80px;
    height: 130px;
    margin-top: 15px;
    margin-left: 20px;
}
.zhiboshare p{
    height: 30px;
    line-height: 30px;
}
.zbewmbox{
    width: 100px;
    height: 100px;
    margin-left: 0px;
}
.zbewmbox img{
    width: 100%;
    height: 100%;
    margin-top: 15px;
}
.jiao:after{
    content: '';
    position: absolute;
    top: -20px;
    left: 170px;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom:10px solid #E4E4E4;
}
.circleimg{
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.toupiaobox{
    display: none;
    width: 290px;
    height: 180px;
    background: #f2f2f2;
    position: absolute;
    top: -195px;
    left: -55px;
    z-index: 9999;
    border: 1px solid #AEAEAE;
}
.toupiaobox ul{
    width: 100%;

}
.toupiaobox ul li{
    width: 288px;
    height: 35px;
    line-height: 35px;
    padding:0 5px;
    border-bottom: 1px solid #AEAEAE;
}
.fabu{
    display: none;

}
.choujiangbox{
    display: none;
    width: 290px;
    height: 180px;
    background: #f2f2f2;
    position: absolute;
    top: -195px;
    left: -55px;
    z-index: 9999;
    border: 1px solid #AEAEAE;
}
.choujiangbox ul{
    width: 100%;

}
.choujiangbox ul li{
    width: 288px;
    height: 35px;
    line-height: 35px;
    padding:0 5px;
    border-bottom: 1px solid #AEAEAE;
}
.modalname{
    width: 80px;
    float: left;
}
.modal-body{
    height: 280px;
}
.modal-body .col-lg-12{
    display: block;
    height: 50px;
}
.modal-body input[type=radio]{
    vertical-align: sub;
    margin-right: 5px;
}
.modal-body input[type=checkbox]{
    vertical-align: sub;
    margin-right: 5px;
}
.mininput{
    width: 40px;
    height: 30px;
    border: 1px solid #eee;
}
.timeinput{
    width: 120px;
    height: 30px;
    border: 1px solid #eee;
    margin-right: 5px;
}
.numinput{
    width: 300px;
    height: 30px;
    border: 1px solid #eee;
    margin-right: 5px;
}
#wdcom .slimScrollDiv{
    width: 100%;
}
.modal-body .cjzbinput input{
    width: 400px;
}
.userBox{
    width: 50px;
    height: 50px;
    background: red;
}
.upload_inf{
    display: none;
}
.upload_preview{
    width: 100%;
}

  #myModal2  .modal-dialog {
        width: 730px;
        margin: 30px auto;
    }

  .circleUserBox{
      width:100%;
      height: 240px;
  }
.circleUserUl{
    overflow: hidden;
    height: 40px;
    margin: 0 auto;
}
  .circleUserUl li{
      width: 100px;
      height: 151px;
      background: #fff;
      float: left;
      margin-left: 30px;
      margin-top: 30px;
      position: relative;
  }
.circleUserUl li i{
    position: absolute;
    font-size: 20px;
    color: red;
    right: -5px;
    top: -5px;
    display: none;
}
  .circleUserPic{
      width: 100px;
      height: 100px;
      background: blue;
      border-radius: 100%;
      overflow: hidden;
  }
  .circleUserPic img{
      width: 100%;
      height: 100%;
  }
.circleUserUl li input {
    width: 100px;
    height: 35px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(204, 204, 204, 1);
    border-radius: 5px;
    outline: none;
    margin-top: 15px;
    text-align: center;
}
.addPic{
    width: 98px;
    height: 98px!important;
    background: #fff;
    border: 1px solid #333;
    line-height: 98px;
    text-align: center;
    border-radius: 100%;
    font-size: 20px;
    position: relative;
}
.addPic input {
    width: 100%;
    height: 100%!important;
    border: none;
    position: absolute;
    outline: 0;
    opacity: 0;
    left: 0;
    top: 0;
    cursor: pointer;
    margin-top: 0!important;
}
.border-ccc{
    border:1px solid #ccc;
}
.ansbtn{
    display: none;
}
.circleActive{
    border: 1px solid #0084ff;
}
#livecom{
    position: relative;
}
.zhidingBox{
    width: 100%;
    background: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0 0px 20px #9D9D9D;
}
.picbox img{
    max-width: 30%;
    margin-right: 3%;
    max-height: 100px;
    margin-top: 10px;
    vertical-align: bottom;
}
.qqBox{
    width: 603px;
    height: 110px;
    background: #fff;
    position: absolute;
    bottom: 50px;
    z-index: 9999999999;
    border: 1px solid #ccc;
}
#rightTab li{
    border: 1px solid #CCCCCC;
    border-left: 0;
    border-bottom: 0;
}
#rightTab li:first-child{
    border-left: 1px solid #CCCCCC;
}
#rightTab li{
    width: 90px;text-align: center;
}
#rightTab li a{
    border-radius: 0;
    font-size: 14px;
    font-weight: normal;
    color: #333;
    margin-right: 0;
    border-top: 4px solid #fff;
}

#rightTab li a:hover{
    background: #ffffff;
    border-radius: 0;
    font-size: 14px;
    font-weight: normal;
    border-color:  #ffffff;
    margin-right: 0;

}
#rightTab li a:focus{
    background: #ffffff;
    border-radius: 0;
    font-size: 14px;
    font-weight: normal;
    border-color:  #ffffff;
    margin-right: 0;

}
#rightTab .active a{
    border: none;
    margin-right: 0;
}
#rightTab .active{
    border-top: 4px solid #0084ff;
}
.zbhdTag{
    width: 90px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
}
.mainbox #myTab li{
    border: 1px solid #CCCCCC;
    border-left: 0;
    border-bottom: 0;
}
.mainbox #myTab li:first-child{
    border-left: 1px solid #CCCCCC;
}
.mainbox #myTab li a{
    border-radius: 0;
    font-size: 12px;
    font-weight: normal;
    color: #333;
    border-top: 4px solid #eee;
    margin-right: 0;
    background: linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(215, 215, 215, 1) 100%, rgba(215, 215, 215, 1) 100%);
}
.mainbox #myTab li a:hover{
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
    border-radius: 0;
    font-size: 12px;
    font-weight: normal;
    border-color:  #ffffff;
    margin-right: 0;
}
.mainbox #myTab li a:focus{
    background: #ffffff;
    border-radius: 0;
    font-size: 12px;
    font-weight: normal;
    border-color:  #ffffff;
    border-top: 4px solid #0084ff;
    margin-right: 0;

}
.mainbox #myTab .active a{
    border: none;
    color: #0084ff;
    border-top: 4px solid #0084ff;
    margin-right: 0;
    background: #fff;

}
.btn{
    padding: 4px 10px;
}
.btn:hover{
    padding: 4px 10px;
    color: #ffffff;
}
@media (min-width: 1366px) {
    .blue-btn{
        font-size: 12px;
    }
    .suggest{
        margin: 10px auto;
    }
    .text-content{
        margin: 0px auto 15px;
    }
}
@media (min-width:1367px) and (max-width: 1920px) {
    .blue-btn{
        font-size: 12px;
    }
    .suggest{
        margin: 55px auto 35px;
    }
    .text-content{
        margin: 0px auto 15px;
    }
}
.rowTitBtn{
    padding: 0 20px;
    color: #333;
    display: inline-block;
    text-align: center;
}
.rowTitBtn:hover{
    color: #0084ff;
    text-decoration: none;
}
.rowTitAct{
    padding: 0 20px;
    height: 40px;
    border-bottom: 4px solid #0084ff;
    color: #0084ff;
    display: inline-block;
    text-align: center;
}
.rowTitAct:hover{
    color: #0084ff;
    text-decoration: none;
}
.deleteBox2{
    background: url("../img/deletemask.png") no-repeat;
    background-size:100% 100%;
    z-index: 99;
}
.deleteBox3{
    background: url("../img/deletemask.png") no-repeat;
    background-size:100% 100%;
    z-index: 99;
}
.deleteVideoBox2{
    background: url("../img/deletemask.png") no-repeat;
    background-size:100% 100%;
    z-index: 99;
}
.deleteVideoBox3{
    background: url("../img/deletemask.png") no-repeat;
    background-size:100% 100%;
    z-index: 99;
}
.jinyanbox{
    background: #f23622;
    padding: 2px;
    border-radius: 5px;
    color: #fff;
    margin-right: 5px;
}