<div id="rightWrapper">
	<div class="row title-header gray-bg">
		<div class="col-lg-12">
			<div class="title-name">
				<a class="font-title">收益结算单</a>
			</div>
		</div>
	</div>
	<div class="row btn-box">
		<div class="col-lg-12">
			<button class="income" type="button" ng-click="addSettlementLog()">收益结算单生成</button>
			<div class="selectedGroup m-t-sm m-l-lg pull-left">
				<div class="pull-left lh-30 font-content">时间：</div>
				<div class="input-daterange input-group pull-left m-r-sm" daterange>
					<input type="text" class="input-sm form-control" name="start" placeholder="开始时间"
						ng-model="queryCondition.startTime"
					/>
					<span class="input-group-addon">to</span>
					<input type="text" class="input-sm form-control" name="end" placeholder="结束时间" ng-model="queryCondition.endTime" />
				</div>
			</div>
			<div class="selectedGroup m-t-sm m-l pull-left">
				<div class="pull-left lh-30 font-content">发票：</div>
				<div class="dropdown pull-left  m-r">
					<button type="button" class="btn dropdown-toggle bordered bgc-fff font-12" id="dropdownMenu2"
						data-toggle="dropdown" aria-expanded="false"
					>
						<span ng-bind="queryInvoiceStatusLabel"></span>
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
						<li role="presentation" ng-click="changeInvoiceStatus()">
							<a>全部</a>
						</li>
						<li role="presentation" ng-repeat="statusBean in invoiceStatusBeans" ng-click="changeInvoiceStatus(statusBean)">
							<a ng-bind="statusBean.label"></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="selectedGroup m-t-sm pull-left">
				<div class="pull-left lh-30 font-content">状态：</div>
				<div class="dropdown pull-left  m-r">
					<button type="button" class="btn dropdown-toggle bordered bgc-fff font-12" id="dropdownMenu2"
						data-toggle="dropdown" aria-expanded="false"
					>
						<span ng-bind="queryStatusLabel"></span>
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
						<li role="presentation" ng-click="changeStatus()">
							<a>全部</a>
						</li>
						<li role="presentation" ng-repeat="statusBean in statusBeans" ng-click="changeStatus(statusBean)">
							<a ng-bind="statusBean.label"></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="pull-right m-r-sm">
				<input type="text" class="serachinput" placeholder="企业ID/企业名称" ng-model="queryCondition.queryContent" />
				<button class="btn commonbtn m-t-n-4" ng-click="searchList(1,false)">查询</button>
			</div>
		</div>
	</div>
	<div class="row m-t-xs">
		<div class="col-md-12 p-w-lg ">
			<table class="table newtable table-striped table-hover ScrollViewer table-responsive">
				<thead class="gray-bg">
					<tr>
						<th style="width: 120px;">ID</th>
						<th>企业名称</th>
						<th style="width: 150px;">结算时间</th>
						<th style="width: 120px;">结算收益金额</th>
						<th style="width: 120px;">平台手续费</th>
						<th style="width: 120px;">实际转账</th>
						<th style="width: 120px;">发票标识</th>
						<th style="width: 120px;">状态</th>
						<th style="width: 120px;">操作</th>
					</tr>
				</thead>
				<tbody auto-height offset="275">
					<tr ng-repeat="bean in page.list" ng-click="bean.isChecked=!bean.isChecked">
						<td style="width: 120px;" ng-bind="bean.id"></td>
						<td ng-bind="bean.enterpriseName|blank:'未认证企业'"></td>
						<td style="width: 150px;" ng-bind="bean.createTime|date:'yyyy-MM-dd HH:mm:ss'|blank:'未知'"></td>
						<td style="width: 120px;" ng-bind="bean.settleAmount|blank:'0.00'"></td>
						<td style="width: 120px;" ng-bind="bean.platformAmount|blank:'0.00'"></td>
						<td style="width: 120px;" ng-bind="bean.actualAmount|blank:'0.00'"></td>
						<td style="width: 120px;">
							<a href="javascript:;" class="color-gold" style="text-decoration: underline;" ng-if="bean.invoiceStatus==1"
								ng-cloak
							>已开</a>
						</td>
						<td style="width: 120px;" ng-bind="bean.status|settlementLogStatus:'作废'"></td>
						<td style="width: 120px;">
							<a href="javascript:;" class="color-blue" ng-click="viewDetail(bean.id)">查看</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-12 pageBox m-b">
			<!-- <button class="btn btn-default font-12 pull-left m-l bordered" ng-click="excelExport()">导出数据列表</button> -->
			<div class="pull-right btn-group m-r">
				<div class="pull-left m-t-xs m-r">
					第
					<span class="color-gold" ng-bind="page.pageNo"></span>
					页/
					<span class="color-gold" ng-bind="page.totalCount"></span>
					条数据
				</div>
				<button type="button" class="btn btn-white" ng-click="searchList(page.prePage,true)">
					<i class="fa fa-chevron-left"></i>
				</button>
				<button ng-repeat="showPage in page.showPages track by $index" class="btn btn-white"
					ng-class="{'active':showPage==page.pageNo}" ng-click="searchList(showPage,true)"
				>
					<span ng-if="showPage<=0" ng-bind="'...'"></span>
					<span ng-if="showPage>0&&showPage==page.pageNo" ng-bind="showPage" id="currentPageNo"></span>
					<span ng-if="showPage>0&&showPage!=page.pageNo" ng-bind="showPage"></span>
				</button>
				<button type="button" class="btn btn-white" ng-click="searchList(page.nextPage,true)">
					<i class="fa fa-chevron-right"></i>
				</button>
				<div class="pull-left m-t-xs m-l m-r">
					跳至
					<input class="m-l-xs m-r-xs" style="width: 33px; height: 23px; border: 1px solid #ddd;" type="text"
						ng-keyup="($event.which === 13)?changePageNo($event.target.value):0"
					/>
					页
				</div>
			</div>
		</div>
	</div>
</div>