<?xml version="1.0" encoding="GBK"?>
<root>









<UMSStreamPort>1935</UMSStreamPort>







<!--流端口号： -->








<UMSAdminPort>9601</UMSAdminPort>







<!--流端口号： -->








<AdminName>admin</AdminName>







<!--管理员账号 -->








<AdminPWD>admin</AdminPWD>







 <!--管理员密码 -->








<UMSTempDir>d:/bvumstemp1/</UMSTempDir>







 <!--管 理员密码 -->








<SegmentLen>10</SegmentLen>







 <!--切片时长； 6-15秒之间 -->







  
<SegmentNum>3</SegmentNum>







 <!--切片个数 不超过10个；  -->







  
<MaxConnect>500</MaxConnect>







 <!--最大连接数不超过2000个  -->







  

<AllowIPVisitRule>0</AllowIPVisitRule>







<!-- 是否启用IP访问限制 -->








<AllowIPPublishRule>0</AllowIPPublishRule>







 <!-- 是否启用IP发布限制 -->








<IsURLAuthen>0</IsURLAuthen>







 <!-- 是否防盗链-->








<AllowRuntimeTask>0</AllowRuntimeTask>







<!-- 是否任务计划 -->










<WriteAccessLog>0</WriteAccessLog>







<!-- 是否写入访问日志，如果写对性能有影响 -->










<MaxTimesOfVideoBitrate>0</MaxTimesOfVideoBitrate>

 





<!-- 限制发送视频的速度是原始码流的几倍。默认为10倍，如果为0表示不限制
如果全速发送如千兆网，有的性能不好的机器的FLASH就会死掉
 -->









<MaxSendBitRate>0</MaxSendBitRate>

 





<!-- 限制发送普通文件的发送码流，单位Kb，默认为0，如果为0表示不限制 -->







</root>

