.Ncode #code input{
    padding-left: 0;
    border:1px solid #ccc;
    border-radius: 5px;
    font-size: 22px;
    color: #333;
    text-align: center;
    width: 270px;
}
.z_tip{
    color: #444 !important;
    padding-top: 0!important;
    border: none !important;
    padding-bottom: 20px !important;
}
.z_tip span{
    color: #0084ff;
    text-decoration: underline;
    cursor: pointer;
}
.codepage .code-content #welcomeMsg{
    font-size: 12px;
}
.loginbtn{
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 0;
    width: 270px;
}
.codepage .code-content>div{
    padding: 15px 5px;
}
.Ncode.codepage .code-content{
    height: auto;
    min-height: 200px;
}
.Ncode{
    width: 360px;
}
.Ncode .logo{
    width: 85%;
    margin: 0 auto;
}
.Ncode .logo img{
    width: 100%;
}
input::-webkit-input-placeholder{
    color: #ccc;
    font-size: 14px;
    line-height: 50px;
    /*text-align: left;*/
}
.codepage .code-content #roomName{
    display: inline-block;
    margin: 0 auto;
    width: 90%;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.topoicBox p img.toBig{
    width: 30%;
    height: auto;
    max-height: 60px;
    /*border: 1px solid #0084ff;*/
    margin-right: 3%;
    vertical-align: middle;
    /*object-fit: cover;*/
    /*object-position: center center;*/
}
.topoicBox .reply{
    /*display: none;*/
    margin-bottom: 10px;
}
#topicDiv > div ,#topTopicDiv > div{
    border-bottom: 1px solid #555;
    margin-top: 10px;
}
.topoicBox .reply p{
    margin: 0 5px;
    padding: 3px 0px;
}
.topoicBox .reply p:last-child{
    padding-bottom: 5px;
}
.topoicBox .reply p i{
    padding:0px 5px;
}
.reply > div{
    padding: 0;
}
.reply > div p:first-child{
    padding-top: 6px;
}
.reply > div p:last-child{
    padding-bottom: 6px;
}
.reply{
    background: none;
    padding-top: 0;
}
.replyBtn,.replyBtn:hover{
    color: #0084ff;
    /*text-decoration: underline;*/
    cursor: pointer;
}
.reply_textarea{
    margin-bottom: 10px;
}
.reply_textarea input{
    display: inline-block;
    width: 83%;
    height: 26px;
    line-height: 26px;
    border: none;
    border-radius: 4px;
    color: #333;
    text-indent: 3px;
}
.reply_textarea button{
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    width: 15%;
    margin-left: 2%;
    color: #fff;
    border: none;
    border-radius: 4px;
    background: #0084ff;
}
.openMore{
    color: #fff;
    margin-left: 13px;
    text-decoration: underline;
    cursor: pointer;
    display: inline-block;
    padding-bottom: 6px;
}
.toVideo{
    width: 90%;
    height: 50.7%;
}